.counter {
  width: 120px;
  background: #424242;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.counter p {
  text-align: center;
  color: #F65241;
}

.buttons {
  text-align: center;
}

.buttons button {
  padding: 5px 10px;
  border: none;
  font: inherit;
  cursor: pointer;
  color: #fff;
  background-color: #F65241;
  border-radius: 5px;
  margin: auto 10px;
  font-weight: 400;
  line-height: 1;
  font-size: 1rem;
  text-align: center;
  width: 30px;
}