.videoModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    z-index: 1;
    background: rgba(35, 35, 35, 0.85);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.07), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 10px 50px rgba(0, 0, 0, 0.05);
}

.modalHead {
    display: flex;
    justify-content: space-between;
}

.modalHead p {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.modalHead button {
    cursor: pointer;
    background-color: #232323;
    color: #FFF;
}

.videoModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoModalSmall {
    position: fixed;
    top: 14px;
    right: 14px;
    display: none;
    z-index: 1;
}

.videoModalSmall.active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.modalContent {
    padding: 25px;
    background-color: #232323;
}
