*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;

  line-height: 1;
  font-size: 24px;
  background-color: #232323;
  color: #fff;
  font-family: 'Montserrat';
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  -moz-appearance:textfield;
}

#root {
  min-height: 100vh;

  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto
}

/* --- HEADER --- */
.header {
  width: 100%;
  height: 404px;
  
  background: url(./Assets/Images/head_background.png) center no-repeat;
  background-size: cover;
  background-position: center center;
  object-fit: contain;

  border-bottom: 8px solid #555555;
}

.logo__inner {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}

.logo__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 20px;
  line-height: 24px;

  color: #F65261;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.info {
  padding-left: 50px;
}

.header__intro {
  width: 392px;
  height: 49px;
  margin-top: 35px;

  display: flex;
  flex-direction: column;
  
  font-family: 'Montserrat';
  /* font-weight: 600; */
  font-style: normal;
  font-size: 40px;
  line-height: 49px;
  
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  
  color: #FFFFFF;
}

.header__search {
  margin-top: 38px;
  display: flex;
}

.details {
  width: 100%;
  object-fit: contain;
  border-bottom: 8px solid #555555;
}

.detail {
  display: flex;
  margin: 30px 0 29px 0;
}

.detail img {
  width: 323px;
  height: 455px;
}

.detail__container {
  margin-left: 53px;
}

.detail__title {
  display: flex;
}

.detail__title p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 49px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #FFFFFF;
}

.detail__rate {
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  margin-left: 25px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 20px !important;
  text-transform: uppercase;
  border-radius: 50%;
  width: 50px;
  height: 51px;
}

.detail__genre {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.detail__year-runtime {
  margin-top: 30px;
  display: flex;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;

  color: #F65261;
}

.detail__runtime {
  margin-left: 51px;
}

.detail__description {
  margin-top: 29px;
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 20px;
  line-height: 24px;

  color: #FFFFFF;

  mix-blend-mode: normal;
  opacity: 0.5;
}

.myInput {
  width: 713px;
  height: 57px;

  background: rgba(50, 50, 50, 0.8);
  mix-blend-mode: normal;
  opacity: 0.7;
  border-radius: 4px;
  border: 0;
}

/* --- SORT --- */
.sort {
  height: 63px;
  padding-top: 20px;

  display: flex;
  justify-content: space-between;
  position: relative;

  border-bottom: 1px solid #080707;
}

.sort::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: .1px;
  background: #424242;;
}

.genre {
  display: flex;
  justify-content: space-between;
}

.genre__item {
  margin-right: 30px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #232323;
  cursor: pointer;

  text-transform: uppercase;

  color: #FFFFFF;
}

.genre__item:last-child {
  margin-right: 0px;
}

.genre__item.active {
  z-index: 1;
  border-bottom: 2px solid #F65261;;
}

.srtlable {
  margin-right: 31px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.888889px;
  text-transform: uppercase;

  color: #FFFFFF;

  mix-blend-mode: normal;
  opacity: 0.6;
}

.srt {
  height: 20px;
  left: 0%;
  right: 0.74%;
  top: calc(50% - 20px/2 + 0.5px);

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.888889px;
  text-transform: uppercase;

  color: #FFFFFF;
}

.sortby select {
  border: none;
  color: #ffffff;
  appearance: none;
  cursor: pointer;

  background: #232323;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.888889px;
  text-transform: uppercase;
}

.sortby select::-ms-expand {
  display: none;
}

.sortby::after {
  content: "";
  justify-self: end;
  width: 0.8em;
  height: 0.5em;
  background: url(./Assets/Images/arrorw.png);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

/* --- SEARCH RESULT --- */
.search-result {
  margin-top: 14px;
  height: 33px;

  font-family: 'Montserrat';
  font-style: normal;
  /* font-weight: 600; */
  font-size: 20px;
  line-height: 24px;

  color: #FFFFFF;

}

/* --- FILMS --- */
.films {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* --- FILM CARD --- */
.filmcard {
  flex: 0 0 322px;
  margin: 25px 0 25px 0;
  position: relative;
}

.showEdit {
  top: 14px;
  right: 14px;
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.filmcard:hover .showEdit {
  opacity: 1;
  transition: opacity .3s;
}

.card img {
  width: 322px;
  height: 455px;
}

.description {
  padding-top: 19px;
  display: flex;
  justify-content: space-between;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #FFFFFF;

  mix-blend-mode: normal;
  opacity: 0.7;
}

.year {
  box-sizing: border-box;

  width: 66px;
  height: 26px;

  padding: 1px 2px 1px 2px;

  mix-blend-mode: normal;
  opacity: 0.5;
  border: 1px solid #979797;
  border-radius: 4px;
  text-align: center;
}

.genre-list {
  padding-top: 5px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */


  color: #FFFFFF;

  mix-blend-mode: normal;
  opacity: 0.5;
}

/* --- FOOTER --- */
.footer {
  height: 70px;
  background-color: #424242;
  display: flex;
  align-items: center;
}

.footer-text {
  width: 100%;
  height: 24px;
  left: 44%;
  right: 43.42%;
  top: calc(50% - 24px/2);

  font-family: 'Montserrat';
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: #F65261;
  display: flex;
  justify-content: center;
}
